.App ul{
  list-style-type: none;
  text-align: center;
  margin : auto;
  padding : 0px
}
.App a{
  text-decoration: none;
}
.App li{
  display: inline-block;
  text-decoration: none;
  margin : 10px
}
.active{
  color : #fa923f
}